{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}
    Ваши бронирования
{% endblock %}

{% block content %}
    <div class="container pb-3 pt-3">
        <div class="card card-body content">
            <h4 class="card-title">Список заявок на бронирование</h4>
            <hr>
            {% if booking_list %}
                <div class="container">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Время создания</th>
                            <th scope="col">Время начала бронирования</th>
                            <th scope="col">Время окончания бронирования</th>
                            <th scope="col">Статус / Время подтверждения</th>
                            <th scope="col">Место</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for record in booking_list %}
                            <tr>
                                <td>{{ record.creation_time }}</td>
                                <td>
                                    {% if record.start_time is not None %}
                                        {{ record.start_time }}
                                    {% else %}
                                        {{ record.booking_start_time }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if record.end_time is not None %}
                                        {{ record.end_time }}
                                    {% else %}
                                        {{ record.booking_end_time }}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if record.conformation_time is not None %}
                                        {{ record.conformation_time }}
                                    {% elif record.is_canceled %}
                                        Заявка отменена
                                    {% else %}
                                        На подтверждении
                                    {% endif %}
                                </td>
                                <td>
                                    {% if record.conformation_time %}
                                        №{{ record.slot_number }}
                                    {% endif %}
                                </td>

                                {% if record.booking_end_time is not None and record.booking_end_time > now and not record.is_canceled and record.conformation_time %}
                                    <td>
                                        <form method="POST" action="{% url 'end-booking' pk=record.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-warning" value="Закончить">
                                        </form>
                                    </td>
                                    <td>
                                        <form method="POST" action="{% url 'prolong-booking' pk=record.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-primary" value="Продлить">
                                        </form>
                                    </td>
                                    <td colspan="2">
                                        <form method="POST" action="{% url 'cancel-booking' pk=record.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="Отменить">
                                        </form>
                                    </td>
                                {% elif not record.conformation_time and not record.is_canceled %}
                                    <td colspan="4">
                                        <form method="POST" action="{% url 'cancel-booking' pk=record.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="Отменить">
                                        </form>
                                    </td>
                                {% elif record.is_canceled %}
                                    <td colspan="4">
                                    </td>
                                {% else %}
                                    <td colspan="4">
                                        <form method="POST" action="{% url 'delete-booking' pk=record.pk %}">
                                            {% csrf_token %}
                                            <input type="submit" class="btn btn-danger" value="Удалить">
                                        </form>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% else %}
                <p>Вы пока не создали ни одного бронирования.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}