{% extends "base.html" %}
{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=89f0a1ad-a907-4cba-8bb7-010c7adea78a&suggest_apikey=a4ae1a75-bf48-4aab-b62a-c018b1469c42&lang=ru_RU"
            type="text/javascript"></script>
{% endblock %}

{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Удалить парковку
{% endblock %}

{% block content %}
    <style>
        body, html {
            width: 100%;
            height: 85%;
        }
    </style>
    <div class="container card card-body content">
        <form method="POST">
            {% csrf_token %}
            <p>Вы уверены, что хотите удалить парковку - "{{ object.address }}"?</p>
            {{ form | crispy }}
            <input type="submit" class="btn btn-success" value="Подтвердить">
        </form>
    </div>
{% endblock %}