{% extends "base.html" %}
{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey=89f0a1ad-a907-4cba-8bb7-010c7adea78a&suggest_apikey=a4ae1a75-bf48-4aab-b62a-c018b1469c42&lang=ru_RU"
            type="text/javascript"></script>
{% endblock %}

{% load static %}
{% load crispy_forms_filters %}
{% block title %}
    Добавить парковку
{% endblock %}

{% block content %}
    <style>
        body, html {
            width: 100%;
            height: 85%;
        }
    </style>
    <div class="container card card-body content">
        <h1>{{ object.id }}</h1>
        <p>{{ object.address }}</p>
        <p>{{ object.all_slots }}</p>
        <p>{{ object.price }}</p>
        <p>{{ object.latitude }}</p>
        <p>{{ object.longitude }}</p>
    </div>
{% endblock %}